html, body, div, span, h1, h2, h3, h4, p, a, img,
figure, canvas, aside article, table, section,
nav, menu, main, video, Link, button, label, input, form,
ul, li, main{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  font: inherit;
  background: transparent;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  display: inline-block;
}
/* This is useful when implementing a grid system so that all image elements
will take up 100% width of their containers */
img {
  width: 100%
}
/*
html, body{
  height:100%;
}*/
