/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#root {
  height: 100%;
  width: 100%;
}

.a {
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: auto;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 60px;
}

.auth-form-container > ul {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  color: #FC3468;
  font-size: 24px;
}
.auth-form-container > ul > li {
  border: 1px solid black;
  justify-content: space-between;
  padding: 20px;
}
