/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#root {
  height: 100%;
}

.a {
  text-decoration: none;
}

.indie-fomo {
  height: 100%;
  width: 100%;
  background-color: white;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dad7d7;
  min-height: 70px;
  box-shadow: -1px 4px 4px 1px rgba(0, 0, 0, 0.04);

}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.auth-form-container > ul {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border: 1px solid black;
  width: 70%;
  align-items: center;
  padding: 5px;
}

.logo {
  color: #FC3468;
  align-items: center;
  font-size: 4vw;
  font-weight: bold;
  border: 1px solid black;
  padding-left: 5px;
}
.auth-form-container > ul > li {
  /*border: 1px solid black;*/
  justify-content: space-between;
}

.auth-form-container > ul > li:hover {
  cursor: pointer;
  color: #FC3468;
}

.createCampaign > a {
  margin: 20px 0px;
  background-color: #FC3468;
  color: white;
  align-items: center;
  min-height: 30px;
  padding: 5px;
}
.createCampaign >a:hover {
  cursor: pointer;
  background: #ff1854;
}

.auth-form {
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin: auto;*/
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 100%;
  /*margin: auto;*/
  /*padding-top: 30vh;*/
  align-items: center;
}

.submit {
  margin: 20px 0px;
  background-color: #FC3468;
  color: white;
  text-align: center;
  min-height: 30px;
  padding: 5px;
}

.submit {
  cursor: pointer;
  border: none;
  width: 50%
}
/*button, html input[type="button"], input[type="reset"], input[type="submit"]*/
.submit:hover {
  background: #ff1854;
}


#x {
  position: absolute;
}

input {
  align-items: center;
  text-align: left;
  padding-left: 10px;
  padding: 7px;
  margin: 3px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.dog{
  width: 25%;

}

.greet{
  /*display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;*/
  position: relative;
  display: inline-block;
}

.name {
  text-align: center;
  width: 100%;
  display:block;
  position: relative;
  padding: 5px;
}

.greet:hover .drop-down {
  display: block;
}

.drop-down:hover {
  display: block;
}

.slick-next {
  display: none;
}

.drop-down {
  background-color: white;
  width: 100%;
  flex-direction: column;
  display: none;
  position: absolute;
  z-index: 432895719;
  padding-top: 5px;
}

.drop-down > li {
  display: block;
  cursor: pointer;
  color: #FC3468;
  min-width: 100px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #dad7d7;
  padding: 10px;
}

.drop-down >li:hover {
  display: block;
  min-width: 100px;
}

.lis:hover {
  min-width: 100px;
  cursor: pointer;
  color: #FC3468;
}
.name:hover {
  cursor: pointer;
  color: #FC3468;
}

.log-out-button:hover {
    cursor: pointer;
    color: #FC3468;
}

.profile-link {
  color: black;
  width: 79px;
  background-color: white;
}

.campaigns-link {
  color: black;
}

.campaigns-link:hover {
  cursor: pointer;
  color: #FC3468;
}
.profile-link:hover {
  cursor: pointer;
  color: #FC3468;
}
