// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.campaigns {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
  height: 100%;
  flex-wrap: wrap;
}

.all-campaigns {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.title {
  // position: relative;
  border: 1px solid black;
  flex: auto;
  padding: 2px;
}

.campaign-tile {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.0980392);
  margin: 4px;
  width: 390px;
  height: 400px;
  padding: 5px;
}

.campaign-tile:hover {
  cursor: pointer;
  border: 1px solid lightgrey;
}

img {
  flex: auto;
  align-self: flex-start;
  justify-content: center;
  width: 216px;
  height: 250px;
}

.description {
  // padding: 2%;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
}

.text {
  padding: 2%;
  display: block;
}

#item {
  // flex-wrap: wrap;
  display: flex;
  width: 25%;
  height: auto;
}

.campaign-tile {
  display: flex;
  width: 100%;
  // height: auto;
  overflow-y: visible;
}
