.campaign-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1200px;
  height: 100%;
}

.overview-tile {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
/*SHOW AND OVERVIEW COMPONENTS COMBINED*/
.photo {
  width: 620px;
  height: 400;
}

.show-img {
  width: 100%;
  height: 280px;
  /*padding-left: 125px;*/
}

.campaign-basics {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin-left: 40px;
}

.campaign-basics > h1{
  font-size: 24px;
  padding: 5px;
  font-weight: bold;
}
.campaign-basics > h2 {
  padding-left: 5px;
  padding-right:5px;
  color: #878787;
  padding-bottom: 5px;
}

.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  padding-bottom: 10px;
}

.campaign-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  width: 80%;
  height: 100%;
}

.contribute {
  display: flex;
  flex-direction: row;
  /*border: 1px solid black;*/
  height: 30%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.back-it {
  background-color: #FC3468;
  color: white;
  align-items: center;
  min-height: 30px;
  width: 120px;
  padding:5px;
  margin: 3px;

}

.check-out {
  background-color: #FC3468;
  color: white;
  align-items: center;
  min-height: 30px;
  padding:5px;
  margin: 3px;
  width: 120px;
}

.back-it:hover {
  cursor: pointer;
  background: #ff1854;
}


.check-out:hover {
  cursor: pointer;
  background: #ff1854;
}

.usr-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-profile {
  font-size: 12px;
}

.about_me {
  color: #878787;
}

.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.user-tag {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  padding-right: 5px;
}

.more-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  width: 80%;
  height: auto;
}

.show-description > h1 {
  font-size: 18px;
  color: #878787;
  padding-bottom: 5px;
}

.rewards > h1 {
  font-size: 18px;
  color: #878787;
  padding-bottom: 5px;
}

.show-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 2px solid #eee;
  width:465px;
    padding-top: 10px;
}

.rewards {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 280px;
  border-top: 2px solid #eee;
  padding-top: 10px;
}
