.create-campaign {
  height: 100%;
  width: 80%;
}

.c-form {
  display: flex;
  flex-direction: column;

}

.create-campaign > h1 {
  padding-top: 10px;
  padding-left: 50px;
  font-weight: 400;
  font-size: 24px;
  font-weight: bold;
}

.create-campaign > h2 {
  padding-left: 50px;
  padding-top: 2px;
  padding-bottom: 10px;

}

.target-amount {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 600px;
}

span {
  color: #0eb4b6;
}

.campaign-title {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 600px;
}

.submit-button1 > input {
  margin-left: 50px;
  margin: 20px 0px;
  background-color: #FC3468;
  color: white;
  border: none;
  text-align: center;
  min-height: 30px;
  margin-left: 50px;
}

.submit-button1 >input:hover {
  background: #ff1854;
  cursor: pointer;
}
