.cat-wrap {
  display: flex;
  flex-direction: column;
  min-height: 575px;
  /*border: 1px solid blue;*/
}
.cat-wrap > h1 {
  margin-left: 11px;
}

.categories {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid black;*/
  width: 950px;
  min-height: 550px;
}

.category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /*border: 1px solid red;*/
  width: 950px;
  min-height: 500px;
}


.category-tile > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  /*border: 2px solid black;*/
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

.category-tile > a:hover {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}

.title {
  position: absolute;
  margin-top: 100px;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.cat-image {
  z-index: -4;
  /*box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);*/

}
