.category-show-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  display: block;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.category-show-wrapper > h1 {
  /*border: 4px solid blue;*/
  height: 30px;
  color: black;
  font-size: 24px;
  width: 65%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 100px;
}

.category-campaign-tile {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1%;
  height: 90%;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
  margin-left: 100px;
