.cat-wrap {
  display: flex;
  flex-direction: column;
  min-height: 575px;
}

.cat-wrap > h1 {
  margin-left: 11px;
}

.categories {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;  width: 950px;
  min-height: 550px;
}

.category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 950px;
  min-height: 500px;
}

.category-tile {
  background: black;
  /*z-index: 7;*/
}

.category-tile img {
   opacity: 0.5;
}

.category-tile img:hover {
  opacity: 0.8;
  cursor: pointer;
}


.category-tile > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 10;
}

.category-tile > a:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 10;

}

.title:hover {
  opacity: 0.8;
  cursor: pointer;
}

.title {
  position: absolute;
  margin-top: 100px;
  width: 140px;
  background: transparent;
  font-weight: bold;
  text-align: center
}
