.discovery {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 20px;
  box-sizing: border-box;
}

.discovery-slider > div {
  /*border: 10px solid red;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.discover-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.discovery-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.explore {
  color: black;
  z-index: 90000000800;
}

.explore:hover {
  cursor: pointer;
  color: #ff1854;
}

.explore-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  height: 10%;
  width: 70%;
  border-bottom: 1px solid black;
  z-index: 90000000000;
}

.discovery > h1 {
  align-items: flex-start;
  width: 100%;
  /*border-bottom: 1px solid black;*/
}

.slick-prev {
  padding-right: 7px;
}

.slick-next {
  padding-left: 7px;
}

.slick-arrow, .slick-prev, .slick-next {
  color: transparent;
  width: 24px;
  height: 24px;
  align-self: center;
}

.slick-prev:before {
  content: '<';
  /*zoom: 8%;*/
}

.slick-next:before {
  content: '>';
}
