.discovery {
  display: flex;
  flex-direction: column;
  width: 1100px;
  justify-content: center;
  align-items: center;
  height: 550px;
  margin-top: 20px;
  box-sizing: border-box;
  /*border: 1px solid blue;*/
}


.discover-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*border: 1px solid black;*/
  margin-top: 20px;
}

.tile-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
  /*border: 1px solid red;*/
  width: calc(100% - 50px);
  overflow: hidden;
}

.slider-move-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
  /*border: 1px solid red;*/
  width: calc(100% - 50px);
  overflow: hidden;
}

.slider-move-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
  /*border: 1px solid black;*/
  width: calc(100% - 50px);
  overflow: hidden;
}

/*CSS Animation for Discovery Slider*/
.slider-move-right > div{
   animation-name: slidermoveright;
   animation-duration: 0.5s;
 }
 @keyframes slidermoveright{
   0% {}
 }
 .slider-move-left > div {
   animation-name: slidermoveleft;
   animation-duration: 0.5s;
 }
 @keyframes slidermoveleft{
   0% {}
 }


.slider-left-button {
  /*border: 1px solid green;*/
  width: 50px;
  height: 50px;
  color: black;
}

.discover-tile > div {
  max-width: 230px;
}

.arrows {
  width: 100%;
  height:100%;
  color: grey;
}

.arrows:hover {
  cursor: pointer;
}

.arrows:active {
  width: 95%;
  height: 95%;
}

.slider-right-button {
  /*border: 1px solid green;*/
  width: 50px;
  height: 50px;
  color: black;
}

.tile-slide-container {
  /*border: 1px solid yellow;*/
  display: flex;
  margin: 20px;
  padding-top: 150px;
}

.discovery-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.explore {
  color: black;
  z-index: 90;
}

.explore:hover {
  cursor: pointer;
  color: #ff1854;
}

.explore-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 10%;
  width: 70%;
  border-bottom: 1px solid black;
  z-index: 90;
}

.discovery > h1 {
  align-items: flex-start;
  width: 100%;
  /*border-bottom: 1px solid black;*/
}

.slick-prev {
  padding-right: 7px;
}

.slick-next {
  padding-left: 7px;
}

.slick-arrow, .slick-prev, .slick-next {
  color: transparent;
  width: 24px;
  height: 24px;
  align-self: center;
}

.slick-prev:before {
  content: '<';
  /*zoom: 8%;*/
}

.slick-next:before {
  content: '>';
}
