.searchResults-true {
  background: white;
  position: fixed;
  margin-top: 35px;
  width: 300px;
  z-index: 10;
  display: flex;
  overflow: hidden;
  overflow-y: hidden;
  flex-direction: column;
}

.searchResults-false {
  position: fixed;
  width: 273px;
  height: 5px;
}

.s-result {
  background: white;
  border: 1px solid #dad7d7;
  padding: 10px;
  color: black;
  height: 20px;

}

.s-result:hover {
  cursor: pointer;
  color: #FC3468;
}

.explore-dropdown {
  width: 100px;
}

.search {
  display: flex;
  justify-content: center;
  height: 34px;
  width: 200px;
}

.searchBar {
  width: 200px;
}
