.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.profile-greeting {
  box-sizing: border-box;
  display: flex;
  height: 80px;
  width: 85%;
  justify-content: flex-start;
  align-items: center;
  font-size: 32px;
  border-bottom: 1px solid #e4e4e4;
}

.top-divider {
  margin-bottom: 40px;
  height: 30px;
  width: 100%;
  background-color: black;
}

.profile-photo {
  width: 330px;
  height: 230px;
}

.profile-greeting > h1 {
  font-size: 32;
  font-weight: bold;
}

.main-content {
  display: flex;
  flex-direction: row-reverse;
  // width: 100%;
  height: 600px;
  margin-bottom: 40px;
  justify-content: space-around;
  font-size: 24px;
}

.left {
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.user-image {
  height: 100%;
  width: 100%;
}

.image-container {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.img-title {
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  height: 50px;
}

.user-img {
  height: 90%;
  width: 150px;
  padding-top: 30px;
  padding-left: 5px;
  align-items: center;
}

.file-upload {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.file-upload > input {
  width: 100%;
  font-size: 12px;

}

.file-submit > input{
  min-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0px;
  font-size: 10px;
}

.navigation-options {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-profile-nav {
  width: 85%;
  height: 30px;
  border-bottom: 3px solid #e4e4e4;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.user-nav-location {
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
.user-nav-location:hover {
  cursor: pointer;
  border-bottom: 3px solid #FC3468;
}

.file-submit > input {
  padding: 5px;
  margin: 20px 10px;
  background-color: #FC3468;
  color: white;
  min-height: 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.usr-avatar {
  width: 90px;
  height: 90px;
  background-color: #c3c3c3;
  border-radius: 100%;
  border: 1px solid  #e4e4e4;
}

.usr-avatar-form {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 20px;
}

.about-me {
  font-size: 24px;
}

.right-photo {
  margin-top: 40px;
  width: 35%;
  align-items: center;
}

.user-overview {
  margin-top: 50px;
  width: 100%;
}

.user-content {
  color: #878787;
  font-size: 14px;
}

.stats {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  height: 50%;
  align-items: center;
}

.contributions-table {
  border: 1px solid #e4e4e4;
  height: 50%;
  width: 40%;
  font-size: 14px;
  overflow: scroll;
}

.campaigns-table {
  border: 1px solid #e4e4e4;
  height: 50%;
  width: 40%;
  font-size: 14px;
  overflow: scroll;
}

.table-name {
  font-weight: bold;
  border-bottom: 1px solid #e4e4e4;
}

.table > table {
  width: 100%;
}

.table-label {
  border-bottom: 1px solid #e4e4e4;
}
