.usr-campaign-list {
  display: flex;
  flex-direction: column;
}

.profile-content-container {
  width: 85%;
}

.user-campaign-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-img {
  width: 160px;
  height: 160px;
}

.user-campaign-item-details {
  margin-left: 30px;
}

.stats-u {
  padding-top: 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.UCTitle {
  font-size: 18px;
  color: #FC3468;
}

.stats-span {
  color: black;
}
