.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 100%;
  justify-content: flex-start;
}

.profile-greeting {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: flex-start;
  padding-left: 55px;
  align-items: center;
  font-size: 4vw;
}

.profile-photo {
  padding-top: 5px;
  padding-bottom: 5px;
}

.profile-greeting > h1 {
  font-size: 24px;
  padding-left: 35px;
}

.main-content {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 50%;
  justify-content: space-around;
  font-size: 2vw;
  padding-bottom: 5px;
}

.left {
  display: flex;
  flex-direction: column;
  // border: 1px solid #e4e4e4;
  width: 40%;
  height: 100%
}

.user-image {
  height: 100%;
  width: 100%;
}

.image-container {
  width: 100%;
  height: 79%;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.img-title {
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  height: 20%;
}

.user-img {
  height: 100%;
  width: 20%;
  padding-top: 30px;
  padding-left: 5px;
  align-items: center;
}

.file-upload {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.file-upload > input {
  width: 100%;
  font-size: 12px;

}

.file-submit {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.file-submit > input {
  padding: 5px;
  margin: 20px 10px;
  background-color: #FC3468;
  color: white;
  min-height: 30px;
  border: none;
  font-size: 20px;
}

.usr-avatar {
  border: 5px solid red;
  width: 90px;
  height: 90px;
  background-color: #c3c3c3;
  border-radius: 100%;
  border: 1px solid  #e4e4e4;
}

.usr-avatar-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 20px;
}

.about-me {
  // border: 1px solid black;
}

.right {
  // border: 1px solid black;
  width: 40%;
}

.user-overview {
  // padding: 10px;
  width: 100%;
}

.user-content {
  color: #878787;
  font-size: 14px;
}

.stats {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  height: 50%;
  align-items: center;
}

.contributions-table {
  border: 1px solid #e4e4e4;
  height: 50%;
  width: 40%;
  font-size: 14px;
  overflow: scroll;
}

.campaigns-table {
  border: 1px solid #e4e4e4;
  height: 50%;
  width: 40%;
  font-size: 14px;
  overflow: scroll;
}

.table-name {
  font-weight: bold;
  border-bottom: 1px solid #e4e4e4;
}

.table > table {
  width: 100%;
}

.table-label {
  border-bottom: 1px solid #e4e4e4;
}
